<body class="index-background"> 
  <div class="index-box">
    <h1 class="index-title">Cinema Ironhack</h1>
    <button type="button" class="btn-index"><a class="btn-text-style1" href='/movies'>Check the movies!</a></button>
  </div>
</body>
